<h1>Positioning -- static, relative, absolute & fixed</h1>
<p>Most of the time, we want everything to be static. Use positioning for fine tuning</p>
<br>
<h2>Relative Position</h2>
<p>This is moving an element <b>relative</b> to where their normal position would be</p>
<p>everything else renders as if the relative item is in static position</p>
<p>we can use top/bottom/left/right (number) to offset</p>
<div class="body">
<div class='container'>
	<div class='example relative'>
		<div class='item'><img src='../../../assets/images/static.svg' /></div>
		<div class='item item-relative'><img src='../../../assets/images/relative.svg' /></div>
		<div class='item'><img src='../../../assets/images/static.svg' /></div>
	</div>
</div>

<div class='container'>
	<div class='example absolute'>
		<div class='item'><img src='../../../assets/images/static.svg' /></div>
		<div class='item item-absolute'><img src='../../../assets/images/absolute.svg' /></div>
		<div class='item'><img src='../../../assets/images/static.svg' /></div>
	</div>
</div>

<div class='container'>
	<div class='example fixed'>
		<div class='item'><img src='../../../assets/images/static.svg' /></div>
		<div class='item item-fixed'><img src='../../../assets/images/fixed.svg' /></div>
		<div class='item'><img src='../../../assets/images/static.svg' /></div>
	</div>
</div>
</div>

<h2>Absolute</h2>

