



<h2 style="clear: both;">Horizontal Aligning</h2>
<p>Inline items:</p>
<p>text-align: center. <-- this aligns content and inlines inside a block</p>
<div style="text-align: center; background: #8BBBFF;">
	<span>text-align: center</span> aligns content and inlines inside a block
</div>

<p>Block items:</p>
<p>To center align, we can set left & right margin to auto.</p>
<p>Remember, a block with width takes all the margin on the right to create a block</p>
<p>when we set left & right margin to 'auto' it will center the block in its parent.</p>
<div></div>
<div style="width: 100px; height: 100px; background: #8BBBFF; padding: 10px; margin: 0 auto;">block</div>
<p>We can float left/right to left/right align block elements</p>
<p>We can also use Flexbox to align block elements however we want</p>
