<h2>The basic:</h2>

<p>Div, or blocks can have width and height. If it has width, remaining right space is taken by margin</p>
<div style="width: 100px; height: 100px; background: #8BBBFF; padding: 10px; margin: 10px;">block</div>
<p>Span, or inlines cannot have width and height</p>
<p>Blocks and Inlines can both have margin and padding, but inlines cannot have top/bottom margin</p>
<span style="width: 100px; height: 100px; background: #8BBBFF; padding: 10px; margin: 10px;">span</span><span>span</span>
<p>Inline blocks behave like inlines, but can also have width&height and top/bottom margin</p>
<div style="display: inline-block; width: 100px; height: 100px; background: #8BBBFF; padding: 10px; margin: 10px;">Inline Block</div>
